.container {
  margin: 0;
  text-align: center;
}

.hero-banner {
  background-color: var(--blueMain);
  color: #EFF1F3;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--blueMain);
}