* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --blueMain: #17255A;
  --whiteMain: #FCFCFC;
  --yellowAccent: #FFBC42;
  --greyBase: #EFF1F3;
  --orangeAccent: #BA5624;
  --greenAdditionalAccent: #1B998B;
  --blueSoftAccent: #DBE4F1;
}